{
  "presets": ["react-native", "@babel/preset-flow"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "cwd": "babelrc",
        "alias": {
          "@": "./src/"
        },
        "extensions": [".js", ".jsx"]
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "retainLines": true,
  "sourceMaps": true
}
