{
  presets: ['react-native', '@babel/preset-flow'],
  plugins: [
    [
      'module-resolver',
      {
        root: ['./src'],
        cwd: 'babelrc',
        alias: {
          '@': './src/'
        },
        extensions: ['.js', '.jsx']
      }
    ]
  ],
  retainLines: true,
  sourceMaps: true
}
